# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Go build artifacts
app
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go vendor folder (if you ever use 'go mod vendor')
vendor/